[ui]
default-command = ["status"]
editor = "vim"
conflict-marker-style = "git"
merge-editor = "mergiraf"

[aliases]
bk = ["bookmark"]
push = ["git", "push", "--tracked", "--deleted"]
pull = ["git", "fetch"]
fork = ["new", "--after", "trunk()", "--before", "@", "--no-edit"]
clean = ["new", "bookmarks() & mine()"]
ll = ["log", "-r", "(trunk()..mine()):: | trunk()"]
la = ["log", "-r", "::"]
syndiff = ["diff", "--tool", "difftastic"]

[remotes.origin]
auto-track-bookmarks = "glob:*"

[remotes.upstream]
auto-track-bookmarks = "glob:*"

[merge-tools.pycharm]
program = "pycharm"
merge-args = ["merge", "$left", "$right", "$base", "$output"]
edit-args = ["diff", "$left", "$right"]

[merge-tools.difftastic]
program = "difft"
diff-args = ["--color=always", "$left", "$right"]

[revsets]
log = "trunk()..@ | trunk()"

[templates]
git_push_bookmark = '"alec/" ++ change_id.shortest(4)'

[fix.tools.ruff-lint]
command = ["uvx", "ruff", "check", "--force-exclude", "--fix-only", "--stdin-filename=$path"]
patterns = ["glob:'**/*.py'"]

[fix.tools.ruff-format]
command = ["uvx", "ruff", "format", "--force-exclude", "--stdin-filename=$path"]
patterns = ["glob:'**/*.py'"]
