[ui]
default-command = ["status"]
editor = "vim"
conflict-marker-style = "git"
merge-editor = "mergiraf"

[aliases]
bk = ["bookmark"]
push = ["git", "push"]
pull = ["git", "fetch"]
fork = ["new", "--after", "trunk()", "--before", "@", "--no-edit"]
clean = ["new", "bookmarks() & mine()"]
ll = ["log", "-r", "(trunk()..mine()):: | trunk()"]
la = ["log", "-r", "::"]
syndiff = ["diff", "--tool", "difftastic"]

[git]
push-new-bookmarks = true
auto-local-bookmark = true

[merge-tools.pycharm]
program = "pycharm"
merge-args = ["merge", "$left", "$right", "$base", "$output"]
edit-args = ["diff", "$left", "$right"]

[merge-tools.difftastic]
program = "difft"
diff-args = ["--color=always", "$left", "$right"]

[revsets]
log = "trunk()..@ | trunk()"

[templates]
git_push_bookmark = '"alec/" ++ change_id.short()'

[fix.tools.ruff]
command = ["uvx", "ruff", "format", "--stdin-filename=$path"]
patterns = ["glob:'**/*.py'"]
